@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  margin: 0;
}
body {
  font-family: "Mulish", sans-serif;
  max-width: 1300px;
  margin: 100px auto;
}
.title {
  font-size: 2.5rem;
  font-weight: 800;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 800;
}
.description-font-color {
  color: rgba(90, 90, 93, 1);
}
#orange-text {
  color: rgba(255, 84, 0, 1);
}
.btn-primary {
  background-color: rgba(255, 84, 0, 1);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px 35px;
}
.display-flex {
  display: flex;
}
/* header styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  gap: 16px;
}
.nav-left img {
  width: 45px;
}
.nav-left-title {
  font-size: 2.25rem;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}
.banner-container {
  background-image: linear-gradient(180deg,rgba(19, 19, 24, 1),rgba(19, 19, 24, 0)),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 105px;
  margin-top: 50px;
}
.banner-text {
  max-width: 670px;
  text-align: center;
}
.banner-input {
  max-width: 800px;
  border-radius: 0.5rem;
  background: rgba(225, 225, 225, 0.2);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  backdrop-filter: blur(4px);
}
input, select, button {
  width: 175px;
  height: 50px;
  padding: 0 0.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-links{
    flex-direction: column;
  }
  .banner-input {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992) {
  .banner-input {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}